@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


* {

    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#959595;
    font-family: 'Open Sans', sans-serif;

}

body, html {

    margin:0;
    padding:0;
    height:100%;
    background:#fff;
    font-size:16px;
}

/***************************************************************************************************************
*
*   v v v Begin page styling v v v
*
****************************************************************************************************************/

.form-contain-primary {

    opacity: .3;
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: left;
    position:absolute;
    top: 36px;
    left: 36px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);

    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
    transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
}

.form-contain-primary:hover {

    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);
}

.form-contain-secondary {
    opacity: .3;
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: left;
    position:absolute;
    bottom: 36px;
    left: 36px;
    padding: 12px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);

    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
    transition: all .3s cubic-bezier(.57,.01,.1,1) .5s;
}

.form-contain-secondary:hover {

    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);
}

.download-svg {
    opacity: .3;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: left;
    position:absolute;
    bottom: 36px;
    right: 36px;
    padding: 12px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);

    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);

    cursor: pointer;
}

.download-svg:hover {

    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);
}

.field-information {

    position:absolute;
    right: 0;
    width: auto;
    height: auto;
    padding: 25px 25px 0px 25px;
    overflow-y: auto;
}

.tooltip-title {

    color: #b300ff;
    font-weight: bold;

}

.form-contain-primary p {

    font-size: .9em;

}

.sketch-contain {
    margin: 0 auto;
    text-align: center;
    -moz-text-align: center;
    font-size: 0;
    height: 100%;
    width: 100%;
    padding: 42px;
}

.fc-top {
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0;
}

.fc-lower {
    display: block;
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0;
}

.fc-name {
    display: block;
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0;
}

.attribution {
    display: table;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 31px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 0;
}

.attribution-title {
    color: #fff;
    background: #b300ff;
    display: table-cell;
    font-size: .9rem;
    padding: 6px 12px;
    width: 1%;
}

.attribution-author {
    background: #fff;
    display: table-cell;
    font-size: .9rem;
    padding: 4px 12px;
    border: 2px solid #b300ff;
}

.attribution-author span.by-sep{
    color: rgb(195, 195, 195);
}

.attribution-author span.author-name{
    color: #b300ff;
}

.clouds-form .selection-container {
    z-index: 1000;
    position: relative;
}

.clouds-form .selection-container ul.select-input {
    width: 100%;
    max-width: 400px;
    height: 31px;
    font-weight: 500;
    font-size: .9rem;
    background: #fff;

}

.clouds-form .selection-container ul.select-input:hover {

}

.clouds-form .selection-container ul.select-input li {
    list-style-type: none;
    cursor: pointer;
}

.clouds-form .selection-container ul.select-input li.opt-cur {
    padding: 6px 12px;
}

.clouds-form .selection-container ul.select-input li.opt-cur:after {
    font-family:'FontAwesome';
    content: "\f078";
    float: right;
    color: #b8b8b8;
}

.clouds-form .selection-container ul.select-input li.all-opt {
    background: #fff;
    max-height: 500px;
    overflow:auto;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
}

.clouds-form .selection-container ul.select-input li.all-opt li.material-select-option {
    background: #fff;
    width: 100%;
    padding: 6px 12px 6px 10px;
    border-left: 2px solid #fff;
}

.clouds-form .selection-container ul.select-input li.all-opt li.material-select-option:hover {
    background: #f7f7f7;
    color: #b300ff;
    border-left: 2px solid #b300ff;
}

/***************************************************************************************************************
*
*   ^ ^ ^ End setup page styling ^ ^ ^
*
****************************************************************************************************************/

/***************************************************************************************************************
*
*   v v v Start styling inputs/buttons v v v
*
****************************************************************************************************************/

input[type="submit"] {

    color: #fff;
    background: #b300ff;
    padding: 7px 20px;
    font-weight: 700;
    font-size: .9em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 25px 0 0 0;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);

}

input[type="submit"]:disabled {

    color: #fff;
    background: #d8d8d8;
    padding: 7px 20px;
    font-weight: 700;
    font-size: .9em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 25px 0 0 0;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

input[type="submit"]:active {

    color: #fff;
    background: #2064e6;
    padding: 7px 20px;
    font-weight: 700;
    font-size: .9em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 25px 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

input[type="text"] {

    padding: 4px 0 6px 0;
    margin: 26px 0 0 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    color:#8c8c8b;

}

input[type="text"].invalid {

    border-bottom: 3px solid #f43939;

}

input[type="text"]:focus.invalid {

    border-bottom: 3px solid #f43939;

}

input[type="text"]:focus {

    padding: 4px 0 6px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #b300ff;
    color:#464c57;

}

form span {

    width: 100%;
    margin: 0;
    height: 80px;
    display: block;
    overflow: hidden;
    position: relative;

}

.label-field-empty {

    position: absolute;
    top: 30px;
    font-size: 16px;
    cursor: text;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);

}

.label-field-focus {

    position: absolute;
    top: 12px;
    font-size: 11.2px;
    color: #b300ff;
    cursor: text;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;
    transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;

}

span .error-info {

    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
    color: #f43939;
    cursor: text;
    width: auto;
    display:inline-block;
    height:auto;
    text-align: right;

}

.label-field-filled-nofocus {

    position: absolute;
    top: 12px;
    font-size: 11.2px;
    color: #acacac;
    cursor: text;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;
    transition: all .3s cubic-bezier(.57,.01,.1,1), color .01s;

}

form.clouds-form input[type="text"] {

    display: block;
    width: 100%;
    max-width: 400px;

}



/***************************************************************************************************************
*
*   ^ ^ ^ End styling inputs/buttons ^ ^ ^
*
****************************************************************************************************************/

/***************************************************************************************************************
*
*   v v v Start generic styles v v v
*
****************************************************************************************************************/

.l-float {

    float: left;

}

.r-float {

    float: right;

}

/***************************************************************************************************************
*
*   ^ ^ ^ End generic styles ^ ^ ^
*
****************************************************************************************************************/
