@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #959595;
    font-family: 'Open Sans', sans-serif;
    transition-timing-function: cubic-bezier(0.57, 0.0, 0.1, 1.0);
}

body,
html {
    height: 100%;
    background: #fff;
    font-size: 16px;
}


/* Generic styles */

.l-float {
    float: left;
}

.r-float {
    float: right;
}


/* Page styling */

#sketch-contain {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    height: 100%;
    width: 100%;
}

.form-contain,
.selection-container .opt-all,
input[type="submit"] {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.form-contain {
    opacity: 0.5;
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    background: #fff;
    transition: all 300ms 200ms;
}

.form-contain:hover {
    opacity: 1;
    transition: all 300ms;
}

.form-contain#form-primary {
    top: 36px;
    left: 36px;
}

.form-contain#form-secondary {
    bottom: 36px;
    left: 36px;
    padding: 12px;
}

.download-svg {
    opacity: .3;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: left;
    position:absolute;
    bottom: 36px;
    right: 36px;
    padding: 12px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.2);

    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);

    cursor: pointer;
}

.download-svg:hover {

    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -moz-transition: all .3s cubic-bezier(.57,.01,.1,1);
    -o-transition: all .3s cubic-bezier(.57,.01,.1,1);
    transition: all .3s cubic-bezier(.57,.01,.1,1);
}

.field-information {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    padding: 25px;
    padding-bottom: 0px;
    overflow-y: auto;
}

.tooltip-title {
    color: #b300ff;
    font-weight: bold;
}

.fc-top,
.fc-lower {
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0;
}

.fc-lower,
.fc-name {
    background: transparent;
}

.attribution {
    display: table;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 31px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 0;
}

#attrib-title,
#attrib-author {
    display: table-cell;
    font-size: 0.9rem;
}

#attrib-title {
    color: #fff;
    background: #b300ff;
    padding: 6px 12px;
    width: 1%;
}

#attrib-author {
    background: #fff;
    font-size: 0.9rem;
    padding: 4px 12px;
    border: 2px solid #b300ff;
}

#attrib-author .by-sep {
    color: #c3c3c3;
}

#attrib-author #author-name {
    color: #b300ff;
}

.selection-container {
    z-index: 1000;
    position: relative;
}

.selection-container .select-input {
    width: 100%;
    max-width: 400px;
    height: 31px;
    font-weight: 500;
    font-size: 0.9rem;
    background: #fff;
}

.selection-container li {
    list-style-type: none;
    cursor: pointer;
}

.selection-container .opt-cur {
    padding: 6px 12px;
    position: relative;
}

.selection-container .opt-cur:after {
	content: '';
	display: inline-block;
	height: 6px;
	width: 6px;
    border: 3px solid #b8b8b8;
	border-bottom-width: 0;
	border-left-width: 0;
	position: absolute;
	top: 50%;
    right: 0%;
    margin-top: -3px;
    margin-right: 15px;
	transform: rotate(315deg);
    transition: all 150ms;
}

.selection-container.showing .opt-cur:after {
    margin-top: -6px;
    transform: rotate(135deg);
}

.selection-container .opt-all {
    background: #fff;
    min-height: 100px;
    max-height: calc(100vh - 300px);
    opacity: 0;
    pointer-events: none;
    overflow-y: scroll;
    width: 100%;
    z-index: 1000;
    transition: opacity 200ms;
}

.selection-container.showing .opt-all {
    opacity: 1;
    pointer-events: auto;
}

.group {
    padding: 8px 0;
}

.group:not(:last-child) {
    border-bottom: 2px solid hsl(0, 0%, 96%);
}

.selection-container .material-select-option {
    width: 100%;
    padding: 6px 12px 6px 10px;
    border-left: 2px solid #fff;
}

.selection-container .material-select-option:hover {
    background: #f7f7f7;
    color: #b300ff;
    border-left-color: #b300ff;
}


/* Styling inputs/buttons */

input {
    border: none;
    outline: none;
}

input.jscolor {
	padding: 2px 6px;
}

input[type="submit"] {
    color: #fff;
    background: #b300ff;
    padding: 7px 20px;
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 5px;
    margin: 25px 0 0 0;
    cursor: pointer;
}

input[type="submit"]:disabled,
input[type="submit"]:active {
    box-shadow: none;
}

input[type="submit"]:disabled {
    background: #d8d8d8;
    cursor: not-allowed;
}

input[type="submit"]:active {
    background: #2064e6;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 4px 0 6px;
    margin-top: 26px;
    font-weight: 700;
    font-size: 16px;
    color: #8c8c8c;
    background: transparent;
    border-bottom: 2px solid #d8d8d8;
}

input[type="text"]:focus {
    border-bottom-color: #b300ff;
    color: #464c57;
}

input[type="text"].invalid {
    border-bottom: 3px solid #f43939;
}

form .text {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.label-field {
    font-size: 16px;
    cursor: text;
    position: absolute;
    top: 30px;
    transition: all 300ms, color 100ms;
}

.label-field-filled,
.label-field-focus {
    top: 12px;
    font-size: 11px;
}

.label-field-filled {
    color: #acacac;
}

.label-field-focus {
    color: #b300ff;
}

span .error-info {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
    color: #f43939;
    cursor: text;
    width: auto;
    display: inline-block;
    height: auto;
    text-align: right;
}
